var editAnswerNotice = '';
var answerId = <%= answer.id %>;
var answerInfo = '#answer-info-' + answerId;
var answerErrors = document.querySelector('#answer-info-' + answerId + '~ .answer-errors')
$(answerErrors).html('<%= render 'shared/errors', resource: answer %>');

<% if !answer.errors.present? %>
  $(answerInfo).html(`
      <p><%= j answer.body %></p>
      <div class="answer-attached-files">
        <p>Attached files</p>
          <% answer.files.each do |file| %>
            <p><%= j link_to file.filename.to_s, url_for(file), class: 'attached-file-link' %></p>
          <% end %>
      </div>
  `);
  $(answerInfo).show();
  $('.edit-answer-link').show();
  $('form#edit-answer-' + answerId).addClass('hidden');
  editAnswerNotice = '<%= t('notifications.updated', resource: answer.class.model_name.human) %>'
<% else %>
  editAnswerNotice = '<%= t('notifications.input_error') %>'
<% end %>

$('.notice').html(editAnswerNotice);